/************************************************************************************/
/* Title : adjusting.css														    */
/* Author : Jean-Simon Marrocco														*/
/* Date : 2017																		*/
/* Description:																		*/
/*				- update css if the window is resize 								*/
/************************************************************************************/

/***********
 *   MAX   *
 ***********/

/* Small devices (landscape phones, 576px and down) */

@media (max-width: 576px) {
	.card-col{
		width:50%;
	}
}

/* Large devices (desktops, 992px and down) */

@media (max-width: 992px) {
    .vl {
        display: none;
    }
    .nav-link {
        padding-left: 8px !important;
    }
	

}


/***********
 *   MIN   *
 ***********/

@media (min-width: 1800px) {
	.navbar-brand {
		font-size:20px;
	}
	.nav-link{
		font-size:20px;
	}
}
